
.header{
  display: flex;
  justify-content: space-between;
  top: 0;
  margin: 0px;
  /* border: 1px solid; */
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(232, 171, 171);
  border-bottom: 2px solid rgb(0, 0, 0);
}
body{
  margin: 0;
  padding: 0;
  color: rgb(59, 54, 54);
}

 ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 250px;
  font-size: 22px;
  font-weight: 700;
}
.link{
    text-decoration-line: none;
    color: rgb(0, 0, 0);
}