
.header{
  display: flex;
  justify-content: space-between;
  top: 0;
  margin: 0px;
  /* border: 1px solid; */
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(245, 221, 221);
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 65px;
  align-items: center;
}
body{
  margin: 0;
  padding: 0;
  color: rgb(59, 54, 54);
  background-color: rgb(247, 237, 219);
  z-index: 999;
}

 ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width:500px;
  font-size: 22px;
  font-weight: 700;
}
.link{
    text-decoration-line: none;
    color: rgb(0, 0, 0);
}

.link:hover{
  color: rgb(128, 118, 118);
}

.college .link{
  font-size: 22px;
  margin: 10px;
  font-weight: 600;
  color: white;
  font-style: italic;
}

.college{
  background-color:rgb(27, 95, 129) ;
  margin: 0px;
  height: 150px;
  
}

.active{
  font-weight: 800;
  color: brown;
  border: 1px solid;
  padding: 3px 8px;
  border-radius: 13px;
}

.college .active {
  color: rgb(196, 109, 83);
  font-weight: bold;
  
}

.college .link:hover{
  color: rgb(196, 108, 73);
}